body {
    width: 10rem;
  }
  
ul {
list-style-type: none;
padding-inline-start: 0;
margin: 1rem 0;
}

li {
padding: 0.25rem;
}
li:nth-child(odd) {
background: #80808030;
}
li:nth-child(even) {
background: #ffffff;
}

h3,

p {
margin: 0;
}

p.header {
    font-size: medium ;
    font-weight: bold;
    /* text-align: center; */
  }

#buttons_container {
display: flex;
flex-direction: column;
justify-content: space-between;
border-radius: 5px;
width: 100%;
}

button {
padding: 10px 20px;
width: 160px; 
height: 30px; 
border: none;
background-color: #30ac35;
color: white;
font-size: 12px;
cursor: pointer;
transition: background-color 0.3s ease;
}

button:hover {
background-color: #257429;
}